@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
      --theme-neutral-100: 210deg 40% 96%;
      --theme-neutral-200: 213deg 27% 84%;
      --theme-default-100: 229deg 63% 5%;
      --theme-default-200: 229deg 63% 5%;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      --theme-neutral-100: 229deg 63% 5%;
      --theme-neutral-200: 229deg 63% 5%;
      --theme-default-100: 210deg 40% 96%;
      --theme-default-200: 213deg 27% 84%;
    }
  }

  * {
    @apply outline-accent-300;
  }

  mark {
    @apply bg-accent-200 font-semibold text-default-100 inline-block rounded-sm leading-tight px-1;
  }

  #main {
    @apply mx-4 lg:mx-16;
  }
}
