---
import {
  getAllTagCounts,
  getAllFeelingsCounts,
  getPostCountsByYearAndMonth,
} from "@/utils/data";

import Layout from "@/layouts/base.astro";
import Chart from "@/components/chart.svelte";
import Heading from "@/components/heading.astro";
import VisitMap from "@/root/src/components/visitMap.svelte";

const isProduction = import.meta.env.PROD;
const MONTHS = [
  "JAN",
  "FEB",
  "MAR",
  "APR",
  "MAY",
  "JUN",
  "JUL",
  "AUG",
  "SEP",
  "OCT",
  "NOV",
  "DEC",
];

const tagData = await getAllTagCounts(6);
const feelingData = await getAllFeelingsCounts(6);
const dateData = await getPostCountsByYearAndMonth(5);
---

<Layout title="Post Analytics">
  <main
    id="main"
    class="flex-1 px-4 lg:px-6 flex flex-wrap gap-8 flex-col items-center lg:flex-row lg:items-start"
  >
    <Chart
      client:load
      type="line"
      class="!w-full"
      labels={MONTHS}
      datasets={dateData}
    >
      <div slot="heading" class="font-mono mb-4">
        <Heading as="h2" class="uppercase !text-accent-200 !mb-0">
          Year and Month
        </Heading>
        <small class="opacity-50 text-base">post counts by date</small>
      </div>
    </Chart>
    <Chart
      client:load
      type="radar"
      baseURL="/posts/feeling"
      class="flex-1 w-full lg:w-[50%]"
      labels={feelingData.map((d) => d.label)}
      values={feelingData.map((d) => d.count)}
    >
      <div slot="heading" class="font-mono mb-4">
        <Heading as="h2" class="uppercase !text-accent-200 !mb-0">
          My Mood
        </Heading>
        <small class="opacity-50 text-base">post counts by feeling</small>
      </div>
    </Chart>
    <Chart
      client:load
      type="doughnut"
      baseURL="/posts/tagged"
      class="flex-1 w-full lg:w-[50%]"
      labels={tagData.map((t) => t.label)}
      values={tagData.map((t) => t.count)}
    >
      <div slot="heading" class="font-mono mb-4">
        <Heading as="h2" class="uppercase !text-accent-200 !mb-0">
          Top Tags
        </Heading>
        <small class="opacity-50 text-base">post counts by tag</small>
      </div>
    </Chart>
    {
      isProduction && (
        <VisitMap client:only class="!w-full">
          <div slot="heading" class="font-mono mb-4">
            <Heading as="h2" class="uppercase !text-accent-200 !mb-0">
              Geolocation
            </Heading>
            <small class="opacity-50 text-base">visitors by location</small>
          </div>
        </VisitMap>
      )
    }
  </main>
</Layout>
