---
import Icon from "astro-icon";
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
import { siteConfig } from "@/config";
import Layout from "@/layouts/base.astro";
import Random from "@/components/random.svelte";
---

<Layout title="" splash="true" ignore>
  <main
    id="main"
    class="flex-1 flex flex-col gap-8 items-center justify-center relative"
  >
    <div class="relative group lg:mb-20 mb-10">
      <div
        class="transition-all duration-1000 absolute rounded-full -inset-2 lg:-inset-8 bg-gradient-to-r from-accent-100 via-accent-200 to-accent-300 blur-xl opacity-10 group-hover:opacity-60 motion-safe:animate-pulse"
      >
      </div>
      <Image
        src={me}
        width="300"
        height="300"
        alt="an image of me"
        transition:name="me"
        densities={[1, 1.5, 2]}
        class="rounded-full relative h-32 w-32 lg:w-auto lg:h-auto"
      />
    </div>
    <h1 class="text-center flex flex-col text-xl lg:text-2xl">
      <strong class="text-gradient-300 text-2xl lg:text-4xl"
        >Andy Freidenfelds</strong
      >
      <div class="text-base lg:text-xl">
        <span>full time</span>{" "}
        <Random words={siteConfig.fulltime} class="font-bold" />,
        <span>part time</span>{" "}
        <Random words={siteConfig.parttime} class="font-bold" />
      </div>
    </h1>
    <Icon
      name="ic:baseline-arrow-downward"
      class="text-accent-100 h-10 rounded-full border-0 border-accent-100 motion-safe:animate-bounce"
    />
    <a class="link-dotted text-xl" href="/home">check me out</a>
  </main>
</Layout>
