---
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
---

<header class="mt-10 mb-6">
  <a href="/" class="flex gap-3 items-center group">
    <Image
      src={me}
      width="48"
      height="48"
      alt="an image of me"
      class="rounded-full"
    />
    <div class="flex flex-col justify-center">
      <span class="font-ortho text-3xl animate-hue-rotate">afreidz</span>
      <span>codes</span>
    </div>
  </a>
</header>
