---
import Icon from "astro-icon";
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
import Search from "@/components/search.svelte";

const access_token = Astro.cookies.get("access-token");
---

<header
  class="py-6 px-2 mb-10 sticky top-0 backdrop-blur-lg z-10 border-b-2 border-dotted border-default-100/10 flex items-center justify-between"
>
  <div class="flex-1 flex justify-center lg:justify-start">
    <div
      class="flex flex-none gap-3 items-center group justify-center lg:justify-start"
    >
      <a href="/">
        <Image
          src={me}
          width="45"
          height="45"
          transition:name="me"
          alt="an image of me"
          class="rounded-full"
          densities={[1, 1.5, 2]}
        />
      </a>
      <a
        href="/home"
        class="text-4xl lg:text-5xl font-bold tracking-tighter leading-none drop-shadow-md"
      >
        <span class="text-gradient-300 leading-none">afreidz</span><span
          class="text-gradient-100 leading-none">.codes</span
        >
      </a>
      {
        !!access_token?.value && (
          <a
            href="/admin/post/create"
            class="transition-colors mt-2 hover:bg-accent-100 hover:text-neutral-100 h-8 w-8 rounded-full p-1 border-2 border-accent-100 text-accent-100"
          >
            <Icon name="ic:outline-add" />
          </a>
        )
      }
    </div>
  </div>
  <Search client:only>
    <Icon slot="trigger" name="ic:outline-search" />
    <Icon slot="close" name="ic:baseline-close" />
  </Search>
</header>
