---
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
---

<header class="mt-6 lg:mt-10 mb-10">
  <a
    href="/"
    class="flex gap-3 items-center group justify-center lg:justify-start"
  >
    <Image
      src={me}
      width="45"
      height="45"
      alt="an image of me"
      class="rounded-full"
      densities={[1, 1.5, 2]}
    />
    <div class="text-4xl lg:text-5xl font-bold tracking-tighter leading-none">
      <span class="gradient-text">afreidz</span><span>.codes</span>
    </div>
  </a>
  <hr
    class="mt-6 lg:mt-10 border-0 border-b-2 border-dotted border-default/10 animate-hue-rotate bg-transparent"
  />
</header>
