---
import Giscus from "@giscus/svelte";
import TOC from "@/components/toc.astro";
import Hero from "@/components/hero.astro";
import type { MarkdownHeading } from "astro";
import BaseLayout from "@/layouts/base.astro";
import type { CollectionEntry } from "astro:content";

type Props = {
  headings: MarkdownHeading[];
  post: CollectionEntry<"post">;
};

const { post, headings } = Astro.props;
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article class="flex-1 lg:flex">
    {!!headings.length && <TOC {headings} />}
    <div
      class="prose contents lg:block lg:prose-lg prose-code:text-textColor/70 prose-custom prose-headings:font-grotesk prose-headings:font-bold prose-headings:text-textColor"
    >
      <Hero {post} />
      <slot />
      <div class="my-10">
        <Giscus
          categoryId="DIC_kwDOKiA5os4CaPdb"
          category="Blog Post Comments"
          repo="afreidz/afreidz.codes"
          theme="transparent_dark"
          repoId="R_kgDOKiA5og"
          reactionsEnabled="1"
          inputPosition="top"
          mapping="pathname"
          emitMetadata="1"
          id="comments"
          client:idle
          strict="0"
          lang="en"
        />
      </div>
    </div>
  </article>
</BaseLayout>
