---
import Layout from "@/layouts/base.astro";
import Heading from "@/components/heading.astro";
import Field from "@/components/admin/field.svelte";
---

<Layout title="Signin" splash="true" ignore>
  <main id="main" class="my-8">
    <form action="/api/auth/signin" method="post">
      <Heading type="title">Please Signin to Continue</Heading>
      <Field name="password" client:load label="Password" type="password" />
    </form>
    <button type="submit">signin</button>
  </main>
</Layout>
